<div class="container">
    <mat-spinner class="m-auto" *ngIf="!jokeList"></mat-spinner>
    <div class="container">
        <h2>Aquí tienes algunos chistes para que te alegren el día</h2>
        <br>
        <p>Puedes cambiar las categorias en las que aparecen los chiste, solo recuerda que de cada categoria puede haber menos o más chistes</p>
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let joke of jokeList">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">{{joke.setup}}</h2>
              <p class="card-text">{{joke.delivery}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Category: {{joke.category}}</small>
            </div>
          </div>
        </div>
    </div>
    
</div>